*{
    box-sizing: border-box;
}

body{
    width: 480px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
header {
    width: 100%;
    height: 75px;
    text-align: center;
    line-height: 75px;
    background-color: #afafaf;
    border: 1px black solid;
}
.side-bar {
    width: 480px;
    height: 150px;
    text-align: center;
    line-height: 150px;
    background-color: #afafaf;
    border: 1px black solid;
}
.box {
    border: 1px black solid;
    width: 480px;
    height: 125px;
    text-align: center;
    line-height: 125px;
    background-color: #afafaf;
}
.card {
    width: 240px;
    height: 250px;
    text-align: center;
    line-height: 250px;
    float: left;
    background-color: #afafaf;
}
.footer {
    border: 1px black solid;
    width: 480px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    background-color: #afafaf;
    float: right;
}
